# Created by .ignore support plugin (hsz.mobi)
### ExtJs template
.architect
build/
resources/sass/.sass-cache/
.sencha
.idea/*
.idea/checkstyle-idea.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/web.iml
.idea/workspace.xml
overrides/
packages/
bootstrap.json
bootstrap.jsonp
